@{
    ViewData["Title"] = "Home Page";
}


        @RenderBody();
<html>
<head>
    <title>Tanner Percival</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/base.css" />
    <link rel="stylesheet" href="assets/css/modules.css" />
    <link rel="stylesheet" href="assets/css/layout.css" />


</head>
<body class="is-preload">

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="~/images/avatar.jpg" alt="" /></span>
                <h1 id="title">Tanner Percival</h1>
                <p>Software Developer</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#top" id="top-link"><span class="icon fa-home">Intro</span></a></li>
                    <li><a href="#portfolio" id="portfolio-link"><span class="icon fa-th">Portfolio</span></a></li>
                    <li><a href="#about" id="about-link"><span class="icon fa-user">About Me</span></a></li>
                    <li><a href="#contact" id="contact-link"><span class="icon fa-envelope">Contact</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <!-- Social Icons -->
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/Tanner253" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>

        </div>

    </div>

    <!-- Main -->
    <div id="main">

        <!-- Intro -->
        <section id="top" class="one dark cover">
            <video muted loop autoplay>
                <source src="images/spinny.MP4" type="video/mp4">
            </video>
            <div class="container">


                <header>

                    <h2 class="alt">
                        <strong>
                            Hi! I'm Tanner Percival, a Junior Software Developer<br />
                            Expirienced in ASP.NET Core and JavaScript Development
                        </strong>
                    </h2>
                    <p>I have expirience in construction managment, and customer service which i leverage in the work place.</p>
                </header>

                <footer>
                    <a href="#portfolio" class="button scrolly">V V V V </a>
                </footer>

            </div>
        </section>

        <!-- Portfolio -->
        <section id="portfolio" class="two">
            <div class="container">

                <header>
                    <h2>Portfolio</h2>
                </header>

                <p>I am a full stack software engineer in ASP.NET Core C#.  </p>

                <div class="row">
                    <div class="col-4 col-12-mobile">
                        <article class="item">
                            <a href="https://tanner253.github.io/Portfolio-work-in-progress/" class="image fit"><img src="images/snakegame.JPG" alt="a project" /></a>
                            <header>
                                <h3>Snake game side project</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="https://tanner253.github.io/Cookie-Stand/" class="image fit"><img src="images/salmon.png" alt="Salmon cookies" /></a>
                            <header>
                                <h3>Salmon Cookies!</h3>
                            </header>
                        </article>
                    </div>
                    <div class="col-4 col-12-mobile">
                        <article class="item">
                            <a href="https://personal-builds.github.io/PersonalBuilds/" class="image fit"><img src="images/usb-img.jpg" alt="Personal Builds" /></a>
                            <header>
                                <h3>Personal Builds</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="#" class="image fit"><img src="images/trippylogo.gif" alt="" /></a>
                            <header>
                                <h3>PlaceHolder</h3>
                            </header>
                        </article>
                    </div>
                    <div class="col-4 col-12-mobile">
                        <article class="item">
                            <a href="#" class="image fit"><img src="images/checkers.gif" alt="" /></a>
                            <header>
                                <h3>PlaceHolder</h3>
                            </header>
                        </article>
                        <article class="item">
                            <a href="#" class="image fit"><img src="images/purple circle.gif" alt="" /></a>
                            <header>
                                <h3>PlaceHolder</h3>
                            </header>
                        </article>
                    </div>
                </div>

            </div>
        </section>

        <!-- About Me -->
        <section id="about" class="three">
            <div class="container">

                <header>
                    <h2>About Me</h2>
                </header>

                <a href="#" class="image featured"><img src="images//20190213_115140.jpg" alt="" /></a>

                <p>
                    After graduating Highschool
                    I quickly enrolled into a local bootcamp driven by my passion for technology where i collaberated and learned how to work in a fast paced challenging environment.
                    I have expirience in construction managment and customer service which allows me to quickly and effectivly identify a problem and solve it, while
                    keeping a clients needs priority and in the decision making process. I aspire to improve the world with technology, and hopefully work for one of the big 3.
                    I look forward to meeting/speaking with you!
                </p>

            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="four">
            <div class="container">

                <header>
                    <h2>Contact</h2>
                </header>

                <p>This is still being setup! Thanks :)</p>
                <p>My contact info:</p>
                <ul>
                    <li>Email: PercivalTanner@gmail.com</li>
                </ul>

                <form method="post" action="#">
                    <div class="row">
                        <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
                        <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
                        <div class="col-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Send Message" />
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer">
        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
